.category-container{
    display: flex;
    justify-content: center;
}

.category{
    border: 1px solid  rgb(206, 202, 202);
    border-bottom: none;
    background-color: white;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.category-text{
    font-size: 13px;
    color: rgb(65, 65, 65);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px ;
}

.category-logo{
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 3px;
    margin-right: 5px;
}

