.body-container{
    background-color: #f0f0f0;
}

.category-container{
    display: flex;
    justify-content: center;
}

.category{
    border: 1px solid  rgb(206, 202, 202);
    border-bottom: none;
    background-color: white;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.category-text{
    font-size: 13px;
    color: rgb(65, 65, 65);
    font-family: 'Roboto', sans-serif;
}

.category-logo{
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.spinner-container{
    display: flex;
    justify-content: center;
    min-height: 400px;
    position: relative;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}