.body-container{
  display: flex;
  justify-content: center;
}

.debts-container{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.debt-container{
  margin: 30px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2{
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
}

h2:hover{
  cursor: pointer;
  background-color: #1F497D;
  color: white;
}


.mat-icon {
  font-size: 130px;
  color: #1F497D;
  text-align: center;
  margin-left: 10px;
}
