.body-container{
  display: flex;
  justify-content: center;
}

.debts-container{
  background-color: white;
  margin: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.debts{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.debt-container{
  margin: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

h2{
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
  min-width: 200px;
}

h2:hover{
  cursor: pointer;
  background-color: #1F497D;
  color: white;
}

.icon-container{
  height: 130px;
}

.mat-icon {
  font-size: 130px;
  color: #1F497D;
  position: absolute;
  left: 25%;
}

h1{
  text-align: center;
}
