<div class="container-context-info">
    <h1>Informations du Contexte : <i>{{companyName}}</i></h1>
    <mat-tab-group dynamicHeight mat-align-tabs="start">
        <mat-tab label="Base context">
            <base-context></base-context>
        </mat-tab>
        <mat-tab label="Liste créanciers">
            <biller-list-context></biller-list-context>
        </mat-tab>
        <mat-tab label="créancier">
            <debt-list-context></debt-list-context>
        </mat-tab>
        <mat-tab label="créancier2">
            hello créancier
        </mat-tab>
    </mat-tab-group>
</div>