.container{
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    height: 100%;
}

.context-identif{
    border: 1px solid #ccc;
    border-radius: 5%;
    background-color: white;
    width: 30%;
    height: 50%;
    margin-top: 70px;
    padding: 40px;
}

.spinner-container{
    display: flex;
    justify-content: center;
    min-height: 400px;
    position: relative;
}

img{
    height: 70%;
    width: 70%;
    border-radius: 2%;
    margin-left: 15%;
}

.form-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
}

input[type=text]{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}