<div *ngIf="!loading" class="container">
    <div class="context-identif">
        <img src="assets/images/effyis-logo.png" />
        <div class="form-container">
            <input (click)="initError()" required type="text" placeholder="Company name" [(ngModel)]="company"
                #name="ngModel" [ngStyle]="{'border-color':(name.errors && name.dirty) ? 'red' : '#ccc' }" />
            <button class="ripple" (click)="getClientInfo()">Login</button>
        </div>
        <span style="color:'red';font-size:'10px'" *ngIf="error!=''">** {{error}}! **</span>
    </div>
</div>
<div *ngIf="loading" class="spinner-container">
    <spinner></spinner>
</div>