<div *ngIf="!loading" class="container">
    <div></div>
    <div class="form-container">
        <div></div>
        <div>
            <h1>Formulaire du Créance</h1>
            <form [formGroup]="form">
                <div *ngFor="let field of fields; let i = index">
                    <dynamic-form [isCheckboxvalid]="isCheckboxValid[i]"
                        (checkboxEvent)="controlCheckbox($event,field,i)" [form]="form" [field]="field">
                    </dynamic-form>
                </div>
                <button class="validation-button ripple" [disabled]="false">valider</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="loading" class="spinner-container">
    <spinner></spinner>
</div>