<div *ngIf="!loading && !error" class="container">
    <div></div>
    <div class="form-container">
        <div></div>
        <div>
            <h1>Formulaire de la Créance</h1>
            <form [formGroup]="form">
                <div *ngFor="let field of fields; let i = index">
                    <dynamic-form [isCheckboxvalid]="isCheckboxValid[i]"
                        (checkboxEvent)="controlCheckbox($event,field,i)" [form]="form" [field]="field">
                    </dynamic-form>
                </div>
                <button class="validation-button ripple" [disabled]="false">valider</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="!loading && !error1" class="container">
    <div></div>
    <div class="form-container">
        <div></div>
        <div>
            <h1>Formulaire Attendu de la Créance</h1>
            <form>
                <div *ngFor="let field of reelFields; let i = index">
                    <dynamic-form-reel [field]="field"></dynamic-form-reel>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="loading" class="spinner-container">
    <spinner></spinner>
</div>

<div *ngIf="error" class="alert">
    <span class="closebtn">&times;</span>
    <strong>Erreur : </strong> ( {{error}} )
</div>