@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

button {
  background-color: #1F497D;
  color: white;
  padding: 10px;
  margin-left: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

/* ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #106ab4 radial-gradient(circle, transparent 1%, #052a49 1%) center/15000%;
}

.ripple:active {
  background-color:  #083a63;
  background-size: 100%;
  transition: background 0s;
}
/* ripple effect */

button:disabled{
  background-color: grey;
  cursor: not-allowed;
}

.blue-snackbar button {
  color: #2baa5b;
}

.blue-snackbar button:hover{
  background-color: rgb(54, 53, 53);
  cursor: unset;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.spinner-container{
    display: flex;
    justify-content: center;
    min-height: 400px;
    position: relative;
    background-color: #f0f0f0;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #1f497d;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: #f0f0f0; 
height: 100%;}
