<div *ngIf="!loading && !error" class="container">
    <div></div>
    <div *ngIf="debt" class="form-container">
        <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>Nom Créance</mat-label>
                <input required name="name" [(ngModel)]="debt.nomCreance" matInput>
                <mat-hint>{{hint}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Code Créance</mat-label>
                <input required name="code" [(ngModel)]="debt.codeCreance" matInput>
                <mat-hint>{{hint}}</mat-hint>
            </mat-form-field>
            <mat-form-field [ngStyle]="{'color' : !valid? 'red' : 'black'}" appearance="outline">
                <mat-label>Path</mat-label>
                <input (ngModelChange)="validatePath($event)" required name="path" [(ngModel)]="debt.path" matInput
                    placeholder="/path/{variable1}">
                <mat-hint>{{hint}}</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>creancierId</mat-label>
                <input required name="creancierId" [(ngModel)]="debt.creancierId" matInput>
                <mat-hint>{{hint}}</mat-hint>
            </mat-form-field>
            <button (click)="addRequestVariable()" class="param-button" mat-raised-button>Ajouter un paramétre de la
                requête</button>
            <div *ngFor="let param of debt.requestVariables; let i = index" class="container-params">
                <div>
                    <mat-form-field class="mat-form-field-param" appearance="outline">
                        <mat-label>clé</mat-label>
                        <input name="name{{i}}" [(ngModel)]="param.name" matInput>
                        <mat-hint>{{hintOptional}}</mat-hint>
                    </mat-form-field>
                    <button (click)="deleteRequestVariable(i)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                    <mat-form-field class="mat-form-field-param" appearance="outline">
                        <mat-label>Valeur</mat-label>
                        <input name="variableValue{{i}}" [(ngModel)]="param.variableValue" matInput>
                        <mat-hint>{{hintOptional}}</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <button class="validation-button ripple" [disabled]="!f.form.valid || !valid">valider</button>
        </form>
    </div>
</div>
<div *ngIf="loading" class="spinner-container">
    <spinner></spinner>
</div>
<div *ngIf="error" class="alert">
    <span class="closebtn">&times;</span>
    <strong>Erreur : </strong> ( {{error}} )
</div>